<!-- Importar o cabeçalho-->
<%- include ("partials/header") %>
<body>
    <%- include ("partials/nav-bar") %>
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <!-- Transformando link em botao-->
        <a href="/perguntar" class="btn btn-primary">Realizar a pergunta</a>
        <hr>
        <!-- Aqui vamos percorrer TODAS as perguntas-->
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                     <!-- Exebiri o titulo da pergunta em paragravo-->
                      <h3><%= pergunta.titulo %></h3>   
                </div>
                <div class="card-footer">

                    <!-- CADA PERGUNTA VAI TER O SEU PRÓPRIO LINK COM O SEU PRÓPRIO ID-->


                    <!-- Vamos colocar pra ele linkar para o id da pergunta ai já vai encaminhar para tal pergunta -->
                    <a href="/pergunta/ <%= pergunta.id %>">
                         <!-- Colocando os links dinamicos dentro do botão, quando clicar irá levar para página da pergunta-->
                         <button class="btn btn-primary">Responder</button>
                    </a>
                   
                </div>
            </div>
        <% }) %>
     </div>
</body>
<%- include ("partials/footer") %>